.main-div mat-card {
    padding: 0;
} 
.main-div mat-toolbar {
    background-color: white;
}
.login-form {
    padding: 10px 20px;
}
#pass-reset {
    text-decoration: none;
    color: #008e47;
}
#submit-btn {
    margin: 25px;
    padding: 5px;
}